* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainMenuContainer-display-true {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  background-color: #fdf0d5;
}

.mainMenuContainer-display-false {
  display: none;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  margin: 1.5rem 4rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #ecf39e, #90a955);
}

.configs {
  text-align: center;

  >form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.error-message {
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: red;
}

.buttons {
  >button {
    font-weight: 500;
    transition: all 0.3s;
    margin: 1rem;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    background-color: #ecf39e;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  > button:hover {
    background-color: #90a955;
    color: #fdf0d5;
  }
}

.timer-true {
  display: block;
  opacity: 1;
  transition: all 5s ease-in-out;
}

.timer-false {
  display: none;
  opacity: 0;
  transition: all 5s ease-in-out;
}

@media (min-width: 768px) {
  .configs {
    > form {
      flex-direction: row;

      > select {
        margin: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: none;
        font-weight: 500;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
        transition: all 0.3s;
      }

      > select:focus {
        outline: none;
      }
    }
  }
}